.container
    .row.h-100.align-items-center.justify-content-center.text-center
    .col-lg-100.align-self-end
        %h1.text-white.text-center.font-weight-bold ideaLex
        %hr.divider.my-4/
    -# .col-lg-8.align-self-baseline
    -#     %p.text-white.font-weight-light.mb-5 Find me in app/views/welcome/index.html.haml
    -#     %a.btn.btn-primary.btn-xl{:href => "#"} Find Out More
    .row.h-100.align-items-center.justify-content-center.text-center
    .col-lg-100.align-self-end
        %h5.text-uppercase.text-white.font-weight-bold Cистема формирования мультимедийного тезауруса автора билингва, автоматизированного анализа произведений и ассистирования в поиске этноидиоглосс
        %hr.divider.my-4/
    

    -# %a.btn.btn-primary.btn-xl{:href => "#"} Find Out More
    -# %table.table.table-hover
    -#     %thead
    -#         %tr
    -#             %th{:scope => "col"} #
    -#             %th{:scope => "col"} First
    -#             %th{:scope => "col"} Last
    -#             %th{:scope => "col"} Handle
    -#     %tbody
    -#         %tr
    -#             %th{:scope => "row"} 1
    -#             %td Mark
    -#             %td Otto
    -#             %td @mdo
    -#         %tr
    -#             %th{:scope => "row"} 2
    -#             %td Jacob
    -#             %td Thornton
    -#             %td @fat
    -#         %tr
    -#             %th{:scope => "row"} 3
    -#             %td{:colspan => "2"} Larry the Bird
    -#             %td @twitter 

    -# .list-group
    -# %a.list-group-item.list-group-item-action{:href => "#"}
        
                       
    -#     %h5.mb-1 Слово
    -#     %small 3 days ago
    -#     %p.mb-1 AAA
    -#     %small Donec id elit non mi porta.
    -# %a.list-group-item.list-group-item-action{:href => "#"}
    -#     .d-flex.w-100.justify-content-between
    -#     %h5.mb-1 List group item heading
    -#     %small.text-muted 3 days ago
    -#     %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    -#     %small.text-muted Donec id elit non mi porta.
    -# %a.list-group-item.list-group-item-action{:href => "#"}
    -#     .d-flex.w-100.justify-content-between
    -#     %h5.mb-1 List group item heading
    -#     %small.text-muted 3 days ago
    -#     %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    -#     %small.text-muted Donec id elit non mi porta.
    -# .list-group
    -#     %button.list-group-item.list-group-item-action.active{:type => "button"}
    -#         Cras justo odio
    -#     %button.list-group-item.list-group-item-action{:type => "button"} Dapibus ac facilisis in
    -#     %button.list-group-item.list-group-item-action{:type => "button"} Morbi leo risus
    -#     %button.list-group-item.list-group-item-action{:type => "button"} Porta ac consectetur ac
    -#     %button.list-group-item.list-group-item-action{:disabled => "disabled", :type => "button"} Vestibulum at eros
